<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.synext.mybatis.mapper.TAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.synext.mybatis.entity.TAttachment">
        <id column="id" property="id" />
        <result column="orgTypePathKey" property="orgTypePathKey" />
        <result column="businessId" property="businessId" />
        <result column="businessModule" property="businessModule" />
        <result column="fileName" property="fileName" />
        <result column="fileURL" property="fileURL" />
        <result column="suffix" property="suffix" />
        <result column="fileSize" property="fileSize" />
        <result column="createTime" property="createTime" />
        <result column="lastDownTime" property="lastDownTime" />
        <result column="sortno" property="sortno" />
        <result column="active" property="active" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, orgTypePathKey, businessId, businessModule, fileName, fileURL, suffix, fileSize, createTime, lastDownTime, sortno, active
    </sql>

</mapper>
