<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.synext.mybatis.mapper.TDicDataTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.synext.mybatis.entity.TDicDataType">
        <id column="id" property="id" />
        <result column="orgTypePathKey" property="orgTypePathKey" />
        <result column="name" property="name" />
        <result column="pathkey" property="pathkey" />
        <result column="active" property="active" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, orgTypePathKey, name, pathkey, active
    </sql>

</mapper>
