<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.synext.mybatis.mapper.TRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.synext.mybatis.entity.TRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="private_org" property="privateOrg" />
        <result column="role_org_type" property="roleOrgType" />
        <result column="org_id" property="orgId" />
        <result column="share_role" property="shareRole" />
        <result column="sortno" property="sortno" />
        <result column="remark" property="remark" />
        <result column="active" property="active" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, private_org, role_org_type, orgid, share_role, sortno, remark, active
    </sql>

</mapper>
