<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.synext.mybatis.mapper.TSendmessageTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.synext.mybatis.entity.TSendmessageTemplate">
        <id column="id" property="id" />
        <result column="orgTypePathKey" property="orgTypePathKey" />
        <result column="name" property="name" />
        <result column="orgId" property="orgId" />
        <result column="sendType" property="sendType" />
        <result column="content" property="content" />
        <result column="sortno" property="sortno" />
        <result column="active" property="active" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, orgTypePathKey, name, orgId, sendType, content, sortno, active
    </sql>

</mapper>
