<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.synext.mybatis.mapper.TUserExpertProfessionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.synext.mybatis.entity.TUserExpertProfession">
        <id column="id" property="id" />
        <result column="orgTypePathKey" property="orgTypePathKey" />
        <result column="userId" property="userId"/>
        <result column="name" property="name" />
        <result column="professionId" property="professionId"/>
        <result column="professionName" property="professionName"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="unitName" property="unitName" />
        <result column="fromUnitName" property="fromUnitName" />
        <result column="sortno" property="sortno" />
        <result column="active" property="active" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, orgTypePathKey, userId, name, professionId, professionName, startDate, endDate, unitName, fromUnitName, sortno, active
    </sql>

</mapper>
